body {
    background-color:#ffa600;
}

p {
    font-size: 1em;
    font-weight: bold;
    text-align:center;
    max-width: 50rem;
    margin: auto;
}

/****************** section titles in CAPITAL LETTERS *********************/
.sect-titles {
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    font-size: 4rem;

}



/****************** carousel section *********************/
.section1 {
    background-color:#ffa600;
    padding-top: 4rem;
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
    padding-bottom: 4rem;
}

/****************** her name is samus section *********************/
.section2 {
    background-color: rgb(255, 192, 75);
    padding-top: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 6rem;
}

/****************** tyoes of space suits section *********************/
.section3 {
    background-color: black;
    padding-top: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 6rem;
}
/****************** games released section *********************/

.section4 {
    background-color: rgb(255, 196, 86);
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 6rem;

}

/****************** villains section *********************/

.section5 {
    background-color:#ffa600;
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 6rem;
}

/****************** hero image link to weather app section *********************/

.section6 {
    background-color: black;
    padding-top: 3rem;
    padding-bottom: 3rem;
}





/****************** NAVIGATION STYLE START *********************/

.clean-navbar.fixed-top, .clean-navbar.fixed-bottom {
    box-shadow: 0px 0px 15px rgb(0 0 0 / 30%);
}

.navbar-custom {
    background-color: #ffa600;
    padding: 1rem;
}

.navbar-brand {
    font-family: 'Share Tech Mono', monospace;
}

.container {
    width: 100%;
    /* padding: 0.5em; */
    background-color: #ffa600;
}


.navbar {
    /* @media (min-width: 576px); */
    padding-top: 1.2rem;
    /* padding-bottom: 1.2rem; */
    font-family: 'Share Tech Mono', monospace;


}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* z-index: 1030; */

}




.navbar-nav {
    color: #f2f2f2;
    /* background-color: #ffa600; */


}

/* .nav-link:hover {
    color: #FFA500;
}

.nav-link.active {
    color: greenyellow;
} */

/****************** NAVIGATION STYLE END *********************/


/****************** CAROUSEL STYLE START *********************/

*, *::before, *::after {
    box-sizing: border-box;
}


.carousel-caption {
    align-content: center;
    margin: auto;
    padding: auto;
    
    background-color:#00000080;
    border: 0.5px solid;
    border-radius: 2rem;
    max-width: 60rem;


    top: 50%;
    transform: translateY(-50%);
    bottom: initial;

}

    
.carousel {
    /* background-color: aqua; */
    margin: 1rem;
    border: 4px solid;
    border-color: greenyellow;

}


.cap-title {
    font-family: 'Share Tech Mono', monospace;

}


h4 {
    text-align: center;
    font-weight: bolder;
}

/****************** CAROUSEL STYLE END *********************/




/****************** About Samus START *********************/


.samus-aran {
    font-size: 6rem;
    font-family: 'Share Tech Mono', monospace;
    color: black;

}


.about-cont {
    /* background-color: #ffa600; */
    color: #202020;
    padding: auto;
    /* margin: 3rem; */
    text-align: center;
}


.text-pop-up-top {
	-webkit-animation: text-pop-up-top 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
	        animation: text-pop-up-top 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
}


 @-webkit-keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 greenyellow, 0 2px 0 greenyellow, 0 3px 0 greenyellow, 0 4px 0 greenyellow, 0 5px 0 greenyellow, 0 6px 0 greenyellow, 0 7px 0 greenyellow, 0 8px 0 greenyellow, 0 9px 0 greenyellow, 0 50px 30px rgba(0, 0, 0, 0);
    }
  }
  @keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
              text-shadow: 0 1px 0 greenyellow, 0 2px 0 greenyellow, 0 3px 0 greenyellow, 0 4px 0 greenyellow, 0 5px 0 greenyellow, 0 6px 0 greenyellow, 0 7px 0 greenyellow, 0 8px 0 greenyellow, 0 9px 0 greenyellow, 0 50px 30px rgba(0, 0, 0, 0);
            }
  }
  

 



/****************** samus and zero suit samus section *********************/

/* javascript file for HW3 changes some elements of this section */

.sect3-title {
    /* background-color: #202020; */
    color: white; 
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    font-size: 4rem;

    
}

.sect3-text {
    /* background-color: #202020; */
    color: #f2f2f2;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5rem;
    text-align: center;
}

/* .samus-bck {
    background-color: red;

} */



/* ===================== MODAL =======================  */
/* Modal */
.modal-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  body.modal-is-open .modal-overlay {
    opacity: 1;
    z-index: 1;
  }

  .modal-img {
      max-width: 70%;

  }
  
  .modal {
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
    border-radius: 3rem;
    background-color: greenyellow;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
    color: #333;
    font-family: 'Share Tech Mono', monospace;
    height: 700px;
    width: 700px;
    /* max-width: fit-content; */
    min-width: 70vmin;
    min-height: 70vmin;
    padding: 2.5rem;
  }
  
  .modal__close-button {
    position: absolute;
    top: 0.5em;
    right: 2em;
    padding: 0.2rem;
    font-size: 1.5em;
    border-radius: 50%;
    border: 2px solid var(--r-heading-color);
    background: white;
    color: var(--r-heading-color);
    opacity: 1;
    /* box-shadow: black; */
  }
  
  .modal__close-button button:hover,
  .modal__close-button:active,
  .modal__close-button:focus {
    background: white;
    border-color: var(--r-heading-color);
  }


  .button{
    background-color: black;
    text-decoration: none;
    color: greenyellow;
    font-size: 2rem;
}

.button:hover {
    background-color: greenyellow;
    color: black;


}

/* ===================== MODAL  =======================  */

/* ===================== MODAL 1 =======================  */
/* Modal */
.modal-overlay1 {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  body.modal-is-open1 .modal-overlay1 {
    opacity: 1;
    z-index: 1;
  }

  .modal-img {
      max-width: 70%;

  }
  
  .modal1 {
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
    border-radius: 3rem;
    background-color: greenyellow;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
    color: #333;
    font-family: 'Share Tech Mono', monospace;
    height: 600px;
    width: 600px;
    /* max-width: fit-content; */
    min-width: 70vmin;
    min-height: 70vmin;
    padding: 2.5rem;
  }
  
  .modal__close-button1 {
    position: absolute;
    top: 0.5em;
    right: 2em;
    padding: 0.2rem;
    font-size: 1.5em;
    border-radius: 50%;
    border: 2px solid var(--r-heading-color);
    background: white;
    color: var(--r-heading-color);
    opacity: 1;
    /* box-shadow: black; */
  }
  
  .modal__close-button1 button:hover,
  .modal__close-button1:active,
  .modal__close-button1:focus {
    background: white;
    border-color: var(--r-heading-color);
  }


  .button1 {
    background-color: black;
    text-decoration: none;
    color: greenyellow;
    font-size: 2rem;
}

.button1:hover {
    background-color: greenyellow;
    color: black;


}


/* ===================== MODAL 1 =======================  */


/* ===================== MODAL 2 =======================  */
/* Modal */
.modal-overlay2 {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  body.modal-is-open2 .modal-overlay2 {
    opacity: 1;
    z-index: 1;
  }

  .modal-img {
      max-width: 70%;

  }
  
  .modal2 {
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
    border-radius: 3rem;
    background-color: greenyellow;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
    color: #333;
    font-family: 'Share Tech Mono', monospace;
    height: 600px;
    width: 600px;
    /* max-width: fit-content; */
    min-width: 70vmin;
    min-height: 70vmin;
    padding: 2.5rem;
  }
  
  .modal__close-button2 {
    position: absolute;
    top: 0.5em;
    right: 2em;
    padding: 0.2rem;
    font-size: 1.5em;
    border-radius: 50%;
    border: 2px solid var(--r-heading-color);
    background: white;
    color: var(--r-heading-color);
    opacity: 1;
    /* box-shadow: black; */
  }
  
  .modal__close-button2 button:hover,
  .modal__close-button2:active,
  .modal__close-button2:focus {
    background: white;
    border-color: var(--r-heading-color);
  }


  .button2{
    background-color: black;
    text-decoration: none;
    color: greenyellow;
    font-size: 2rem;
}

.button2:hover {
    background-color: greenyellow;
    color: black;


}


/* ===================== MODAL 2 =======================  */


/* ===================== MODAL 3 =======================  */
/* Modal */
.modal-overlay3 {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  body.modal-is-open3 .modal-overlay3 {
    opacity: 1;
    z-index: 1;
  }

  .modal-img {
      max-width: 70%;

  }
  
  .modal3 {
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
    border-radius: 3rem;
    background-color: greenyellow;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
    color: #333;
    font-family: 'Share Tech Mono', monospace;
    height: 600px;
    width: 600px;
    /* max-width: fit-content; */
    min-width: 70vmin;
    min-height: 70vmin;
    padding: 2.5rem;
  }
  
  .modal__close-button3 {
    position: absolute;
    top: 0.5em;
    right: 2em;
    padding: 0.2rem;
    font-size: 1.5em;
    border-radius: 50%;
    border: 2px solid var(--r-heading-color);
    background: white;
    color: var(--r-heading-color);
    opacity: 1;
    /* box-shadow: black; */
  }
  
  .modal__close-button3 button:hover,
  .modal__close-button3:active,
  .modal__close-button3:focus {
    background: white;
    border-color: var(--r-heading-color);
  }


  .button3{
    background-color: black;
    text-decoration: none;
    color: greenyellow;
    font-size: 2rem;
}

.button3:hover {
    background-color: greenyellow;
    color: black;


}


/* ===================== MODAL 3 =======================  */





/****************** samus and zero suit samus section *********************/







/****************** This below is for ACCORDION items START *********************/


.accordion-item {
    /* background-color: #202020; */
    /* margin: auto; */
    border: 3px solid;
    color: greenyellow;

}

.accordion-button {
    font-weight: bold;
    background-color: black;
    color: #f2f2f2;
    /* border: 0.5px solid; */

}



.accordion-header {
    font-family: 'Share Tech Mono', monospace;

}

.accordion-body {
    /* background-color: #f2f2f2; */
    padding: auto;
    margin: auto;
    color: #202020;
    text-align: center;
}


.gamecase {
    width: 15rem;
    /* margin: auto; */
    padding: 3rem;
}

/****************** end of accordion *********************/


/****************** main villains section *********************/

.card {
    margin: 0.5em;
    padding: 0.5em;
    background-color: rgb(255, 196, 86);
    /* background-color: orange; */
    box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);
    border: 3px solid;
    border-color: greenyellow;
    /* align-content: center; */
}

.card-title {
    font-family: 'Share Tech Mono', monospace;
    color: black;
    
}


.card-text {
    font-size: 0.8rem;
    text-align:justify;
    /* margin: 10px; */
    /* padding: inherit; */
}

.card-img-top {
    /* background-color: green; */
    max-width: 30rem;
    margin: auto;
    padding: auto;
    /* align-content: center; */
}


.fa-solid {
    /* background-color: #202020; */
    color: black;
    padding: 0.5em;
    /* margin: 0.5rem; */
    border-radius: 0.5rem;

}

.icons {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}


/****************** main villains section *********************/


footer {
    background-color: black;
    padding: 3rem;
    margin: auto;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1em;
    color: white;

}


.copyright {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 12px;
}


/****************** section 6 the hero image linkin to metroid prime weather app *********************/

/* Assignment 1 Styles  */
/* Hero Image  */
.clean-block.clean-hero {
    background-color:#00000080;
    background-image: url('../img/samusleft.jpg');
    background-size: cover;
    position: sticky;
    background-repeat: no-repeat;
    /* min-height: 800px; */
    background-attachment: fixed;
    background-position: center;

    height: 60rem;

}

@media (max-width: 480px) {
    .clean-block.clean-hero {
        background-image: url('../img/samusfront.jpg');
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .clean-block.clean-hero {
        background-image: url('../img/samusfront.jpg');
    }
}



.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }


.text {
    padding-top: 20rem;
    /* padding-right: 10rem; */
    font-family: 'Share Tech Mono', monospace;
    color: white;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 80%);


    align-content: center;
    position: relative;

    text-align: center;
}

.btn {
    /* background-color: red; */
    font-size: 2.5rem;
    color: greenyellow;
}


.weather-btn {
    text-decoration: none;
    color: greenyellow;
}

.weather-btn:hover {
    color: black;


}
.hero-text {
    font-size: 4rem;
    color: white;
}
/****************** section 6 the hero image linkin to metroid prime weather app *********************/


/****************** FOOTER AREA *************************/

/* this one applies to all icons on page; including villain ones */
.fa-solid {
    color: black;
}

/* in footer; only for arrows up */
.fa-angles-up {
    color: white;
}

.fa-solid:hover {
    color: greenyellow;
}

.gotop {
    text-decoration: inherit;
    color: white;
    font-weight: bold;
  }
  
  
  .gotop:hover {
    color: greenyellow
  }
  
  
  .section7 {
    background-color: black;
    max-width: 100%;
    align-content: center;
    font-size: 14px;
    margin: auto;
  
    padding-top: 2rem;
    text-align: center;
  }
  
  /* a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
   */
  /****************** FOOTER AREA *********************/
  
