h1 {
    text-shadow: black;
    color: orange;

}


.col {
    background-color: #f2f2f2;
    color: #707070;
}



/****************** This below is for the carousel items *********************/

.carousel-item {
/*     height: 30rem; */
    
}

.carousel-caption {
    align-content: center;
    font-size: larger;
    text-shadow: black;
    background-color: black;
    border: 1px solid orange;
    opacity: 0.6;

}

